/*===========================================================*/
/*          ELEMENTOS GENERALES PARA ETIQUETAS BASE          */
/*===========================================================*/
:root {
    --PRI: #FF0000;
    --PAN: #046BD2;
    --PartidoVerde: #53AF31;
    --PT: #DA0514;
    --Morena: #8E2C2D;
    --MovimientoCiudadano: #F97613;
    --Gobierno: var(--PRI);  /* Define un color del partido actual */

    --Fondo: #f4f4f4;
    --Salir: #46484B;

    /* Este apartado indica el color de los reportes */
    --Verde: #28A745;
    --Amarillo: #FFC107;
    --Naranja: #FF851B;
    --Rojo: #DC3545;
    
}

.PRI {
    background-color: var(--PRI);
}

.PAN {
    background-color: var(--PAN);
}

.PartidoVerde {
    background-color: var(--PartidoVerde);
}


.FondoVerde {
    background-color: var(--Verde);
}

.FondoAmarillo {
    background-color: var(--Amarillo);
}

.FondoNaranja {
    background-color: var(--Naranja);
}

.FondoRojo {
    background-color: var(--Rojo);
}

.ColorFondo {
    color: var(--Gobierno);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8)
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Fondo);
    width: 100%;
    
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    width: 100%;
    background-color: var(--Gobierno);
    color: white;
    padding: 6px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header div {
    text-align: center;
}

.logo {
    width: 70px;
    height: auto;
    margin-right: 20px;
}

main {
    width: 90%;
}




/*==========================================================================*/
/*                          PARA CLASES GENERALES                           */                                                                                                                                                            
/*==========================================================================*/
.Ciego {
    display: none !important;
}

.TextoCentrado {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ContenidoCentrado {
    display: block;
    margin: 0 auto;
}

.Horizontal {
    display: flex;
    flex-direction: row;
}

#mi_mapa {
    width: 100%;
    height: 400px;
}

.VW50 {
    width: 50vw;
}

.W100 {
    width: 100% !important;
}

.W80 {
    width: 80% !important;
}

.LimiteTabla {
    height: 98vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.Espacio {
    margin: 5px;
}

.AnchoAuto {
    width: auto !important;
}

/*==========================================================================*/
/*                            PARA EL FORMULARIO                            */                                                                                                                                                            
/*==========================================================================*/
.elemento {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elemento input[type="submit"] {
    width: 100%;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

form img {
    width: 100%;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    white-space: normal; /* Permite que el texto largo se divida en varias líneas */
}

option {
    padding: 5px;
}

textarea {
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Opcional: para algunos navegadores */
}

.No_Contestar {
    cursor: no-drop;
}
/*==========================================================================*/





/*==========================================================================*/
/*                BOTONES GENERALES PARA TODAS LAS SECCIONES                */
/*==========================================================================*/
button, input[type="submit"], .BOTON {
    background-color: var(--Gobierno); /*#f97613;*/
    border: 4px solid color-mix(in srgb, var(--Gobierno) 80%, black);
    color: white;
    min-height: 35px;
    max-height: 70px;
    border-radius: 5px;
    width: 90%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    /*
    padding: 10px 15px;
    */
}

.BOTON {
    display: flex;
    align-items: center;
    justify-content: center;    
    /*margin: 0 auto;*/
}

input[type="submit"]:hover, button:hover, .BOTON:hover {
    background-color: color-mix(in srgb, var(--Gobierno) 95%, white);
    box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--Gobierno) 25%, transparent);
}




.BTN__Color_Verde{
    background-color: greenyellow !important;
    border: 3px solid color-mix(in srgb, greenyellow 45%, black) !important;

}

.BTN__Color_Verde:hover{
    background-color: green !important;
    border: 3px solid color-mix(in srgb, green 45%, black) !important;
}


.BTN__Color_Rojo{
    background-color: red !important;
    border: 3px solid color-mix(in srgb, rgb(197, 15, 15) 45%, black) !important;

}

.BTN__Color_Rojo:hover{
    background-color: rgb(255, 29, 29) !important;
    border: 3px solid color-mix(in srgb,red 45%, white) !important;

}



.Salir {
    /*position: fixed;*/
    position: absolute;          
    top: 2%;
    left: 100%;
    transform: translateX(-100%);

    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    
    padding: 8px;
    border-radius: 8px;
    width: 12%;
    height: 25px;
    background-color: var(--Salir);
}

.Salir a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.Salir img {
    width: 25px;
}

.BOTON_CERO {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}



/*==========================================================================*/
/*                ALERTAS GENERALES PARA TODAS LAS SECCIONES                */
/*==========================================================================*/


.alerta {

    position: absolute;          

           
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
    height: 65px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 16px;
  font-size: 35px;
  cursor: pointer;
}


.alerta__bueno {
    background-color: #d4edda;
    border: 3px solid #c3e6cb;
    color: #155724;
    font-weight: 800;
}

.alerta__malo {
    background-color: red;
    color: white;
    border: 3px solid black;
}



@media(max-width: 880px){

    header {
        flex-direction: column;
    }

    header .logo {
        margin-right: 0;
    }

    form {
        width: 80%;
    }

}



/*==========================================================================*/
/*             PARA PANEL DE CONTROL BARRA LATERAL Y CONTENIDO              */
/*==========================================================================*/

.Cuerpo {
    display: flex;
    justify-content: stretch; 
    align-items: stretch;
    width: 100%;
}

.Cuerpo nav {
    margin-top: 5px;
    background-color: var(--Gobierno);
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    height: 100% !important;
}

.Cuerpo .opcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    list-style: none;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: #333;
    text-transform: uppercase;
    position: relative;
}

.Cuerpo .opcion .Total {
    position: absolute;
    left: 88%;
    top: -8px;
    padding: 5px;
    background-color: var(--Gobierno);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    border: 2px #272727 solid;
}

.Cuerpo .Titulo_opcion{
    justify-content: space-between;
    align-items:center;
    background-color: var(--Gobierno);
}

.Cuerpo .Titulo_opcion:hover{
    cursor: auto;
    background-color: var(--Gobierno) !important;
}

.Cuerpo .Titulo_opcion img {
    cursor: pointer;
}

.Cuerpo a {
    text-decoration: none;
    color: white;
}

.Cuerpo .opcion:hover{
    background-color: #272727;   
}

.Cuerpo .opcion img {
    width: 40px;
    margin-right: 10px;
    border-radius: 0;
    box-shadow:none;
}

.Cuerpo .opcion img:hover{
    transform: none !important;
}



/*==========================================================================*/
/*                        PRESENTACION PARA LA TABLA                        */
/*==========================================================================*/


.Configurar {
    width: 100% !important;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-collapse: collapse; /* para que se vean los bordes */
}

.Configurar__Local {
    width: auto !important;
}

.Configurar__Mediano {
    width: 90% !important;
}

.Configurar__Mediano__Centro{
    display: block;
    margin: 0 auto;
}


.Configurar__General tbody tr:nth-child(even) {
    background-color: white !important;
}

.Configurar__General tbody tr:nth-child(odd) {
    background-color: white !important;
}


.Configurar thead {
    background-color: var(--Gobierno);
    color: white;  
}

.Configurar td p{
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: color-mix(in srgb, var(--Gobierno) 85%, black);
    border-radius: 5px;
    padding: 2px;
    color: white;
}

.Configurar thead th, tbody td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-radius: 5px;
    padding: 10px;
}

.Configurar input {
    text-align: center;
}

.Configurar tbody td {
    height: 25px;
    margin: 0;
    padding: 10px;
    margin: 6px 0 !important;
    padding: 6px 0 !important;
}

.Configurar tr {
    max-height: 30px;
}

.Configurar .trMaximo {
    max-height: 10px !important;
}

.Configurar tbody tr:last-child td {
    border-bottom: none; /* quitar línea final si no la quieres */
}

.Configurar tbody tr:nth-child(even) {
    background-color: #e1e1e1;
}

.Configurar tbody tr:nth-child(odd) {
    background-color: #fff;
}

.Configurar a {
    color: blue;
}