span {
    color: #f97613;
}

footer {
    width: 100%;
    height: auto;
    background-color: #16161d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer h3,h4 {
    color: white;
    font-weight: 600;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer_imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.footer_redes {
    width: 50px;
    height: 50px;
}

.footer_texto {
    text-align: center;
}


footer div img {
    margin: 5%;
    width: 20%;
    height: 55%;
}

@media(max-width: 768px){

    footer div img {
        width: 25%;
        height: 25%;
    }

}


@media(max-width: 548px) {

    footer {
        height: auto;
    }

    footer div{
        display: block;
        
        align-items: center;
    }

    footer div img {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 60%;
        height: 20%;
    }

    .footer_imagenes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

#mi_mapa {
    width: 100%;
    height: 400px;
}