form {
    width: 70%;
}

.GPS {
    cursor: pointer;
    text-transform: uppercase;
    height: 35px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--Gobierno);
    
    transition: all 0.25s ease;
    display: inline-flex;
    align-items: center;
    width: fit-content;

    border-radius: 15px;
    padding: 10px;
    margin: 0;
    color: var(--Blanco);
    font-weight: 600;
}

.GPS:hover {
    color: var(--Oscuro);
}

.Anuncio {
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.3s ease;
    top: 5rem;
    right: 1.4rem;
    max-width: 250px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border: 3px solid;
    border-color: color-mix(in srgb, var(--Gobierno), black 10%);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.AnuncioCompleto {
    min-width: 80vw !important;
    left: 50%;
    transform: translateX(-50%) !important;
}

.Anunciofondo {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0px;        
    z-index: 9990 !important;
}

.Anuncio:hover{
    transform: scale(1.1);
}


.Anuncio img {
    width: 50px;
}







span {
    color: var(--Gobierno);
}

footer {
    width: 100%;
    height: auto;
    background-color: #16161d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer h3,h4 {
    color: white;
    font-weight: 600;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer_imagenes, .footer_facultades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.footer_redes {
    width: 50px;
    height: 50px;
}

.footer_texto {
    text-align: center;
}


footer div img {
    margin: 5%;
    width: 20%;
    height: 55%;
}

@media(max-width: 880px) {
    .Anuncio {
        top: 2rem;
    }

    header {

        h1, h2 {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 25px;
        }
    }

    .Pares {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }

    
}

@media(max-width: 768px){

    body {
        background-image: url("../Recursos/Imagenes/Fondo.png");
        background-repeat: no-repeat;
        background-size: cover;       
        background-position: center;
    }

    header {
        background-color: white;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 2px solid var(--Gobierno);
        box-shadow: 0 2px 4px var(--Gobierno);
        color: var(--Gobierno);
        margin-bottom: 5px;
        flex-direction: row;

        h1, h2 {
            margin: 0;
            padding: 0;
        }
        
        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
        }

    }

    .logo {
        width: 45px;
        margin: auto 10px;
        margin-left: 2%;
        margin-right: 14px;
    }

    form {
        width: 75%;
    }

    .GPS {
        font-size: 15px;
    }

    

    footer div img {
        width: 25%;
        height: 25%;
    }

    .Anuncio {
        top: 3rem;
        max-width: 200px !important;
        z-index: 9999 !important;        
    }
}

@media(max-width: 548px) {

    header {
        h1, h2 {
            margin: 0;
            padding: 0;
        }
        
        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 15px;
        }
    }

    .Pares {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    form {
        width: 80%;
    }

    .GPS {
        font-size: 12px;
    }

    footer {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    footer div{
        display: block;
        
        align-items: center;
    }

    footer div img {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 60%;
        height: 20%;
    }

    .footer_imagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer_facultades {
        display: none;
    }

    .footer_texto:last-of-type {
        padding-top: 20px;
        border-top: white 2px solid;
    }

    .Anuncio {
        position: fixed;
        right: 0px;
        z-index: 9999 !important;
        top: 7rem;
    }

    .Anuncio:hover{
        transform: none;
    }

}