.tabla-contenedor {
    width: 80%;
    max-height: 400px;   /* límite de alto */
    overflow-y: auto;    /* scroll vertical */
    overflow-x: auto;    /* scroll horizontal si se pasa de ancho */
    border: 1px solid #ccc;
}

thead {
    background-color: #f97613;
    color: white;
    height: 35px;    
}

th {
    border-radius: 5px;
}

.Configurar {
    
    width: 100% !important;
    border: 1px solid #ccc;
    margin-bottom: 40px;

    border-collapse: collapse; /* para que se vean los bordes */
}

thead th, tbody td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

tbody td {
    height: 25px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

tbody tr:last-child td {
    border-bottom: none; /* quitar línea final si no la quieres */
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}