.Cuerpo nav {
    height: 100% !important;
}

.Contenido {
    display: flex;
    align-items: start;
    justify-content: center;
}

@media(max-width: 768px){
    form {
        width: 90% !important;
        padding: 0;
        margin: 0;
    }
}