.container {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: #f97613;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li::before {
    content: "•";
    color: #f97613;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}