nav {
    background-color: darkslategray;
    position: absolute;
    left: 0px;
    height: auto;
    max-width: 18%;
    top: 27.7%;
    display: flex;
    flex-direction: column;
    border-end-end-radius: 8px;
    text-transform: uppercase;
}

nav .Titulo {
    background-color: #bd0d0d;
    text-align: center;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 15%;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: auto 0;
    font-size: x-large;
    font-weight: 500;
}

nav div img {
    width: 20%;
    margin-left: 10px;
}

nav div:hover{
    background-color: rgb(22, 32, 32);
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-radius: 10px;
    border: 2px dotted #bd0d0d;
}

thead {
    background-color: #f97613;
    color: white;
    height: 35px;
}

th {
    border-radius: 5px;
    padding: 10px;
}

tbody tr {
    height: 45px;
    text-align: center;
}

tbody td {
    padding: 10px;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.Configurar {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;

    /*max-height: 400px;*/ /* puedes ajustar este valor */
    overflow-y: auto;
    overflow-x: auto; /* por si tu tabla es muy ancha */
    /*border: 1px solid #ccc;*/
    margin-bottom: 40px;
}

.Configurar form {
    border: 0px solid #ccc;
    display: block;
    margin: 0 auto;
    width: 70% !important;
}

.ancho {
    width: 90%;
}

.alto {
    display: block;
    height: 70% !important;
}

.ancholistado {
    max-width: 82%;
    top: 24%;
    position: absolute;
    right: 0px;
    height: 72% !important;
}