/*
||=====================================================================||
||               Este apartado es para inicio de seccion               ||
||=====================================================================||
*/


.Pares img {
    object-fit: cover;
    object-position: right;

    
    width: 100%;           /* Define el ancho que deseas para el contenedor de la imagen */
    height: 100%;
    
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

/*
||=====================================================================||
||             Este apartado es para la principal seccion              ||
||=====================================================================||
*/
.principal {
    padding: 20px;
    min-width: 70% !important;
    max-width: 1000px !important;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px var(--Gobierno);
    border-radius: 8px;
}

.principal h2 {
    color: var(--Gobierno);
    font-weight: 900;
    font-size:x-large;
}

.principal .contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 10px;
    border-style: double;
    border-radius: 8px;
    border-color: var(--Gobierno);
    padding: 10px 0px;
}

.principal .contenido .opcion {
    text-align: center;
    position: relative;
}


.principal .contenido .opcion img {
    width: 150px;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--Gobierno);
    transition: transform 0.3s ease;
}

.principal .contenido .opcion div {
    position: absolute;
    top: -7px;
    right: 23%;
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px #272727 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;
}

.principal .contenido .opcion img:hover {
    transform: scale(1.15);
}

p {
    margin: 10px 0 0;
}

#firma {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}







/*
||=====================================================================||
||              Este apartado es para la seccion reportes              ||
||=====================================================================||
*/


.Contenido {
    padding: 10px;
    width: 75%;
    margin: 5px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 75%;
}

.Contenido .Contenido__Encabezado {
    text-align: center;
}

.Contenido .Contenido__Encabezado p{
    text-align:start;
}

.Contenido .Contenido_Reportes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 8px;
    background-color: #f4f4f4;
    width: auto;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Contenido .Contenido_Reportes .Reporte {
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: color-mix(in srgb, var(--Gobierno) 75%, white);
    border: 3px dotted var(--Gobierno);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.Contenido .Contenido_Reportes .Reporte .Tiempo {
    position: absolute;
    left: 85%;
    top: -12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contenido .Contenido_Reportes .Reporte:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.Contenido .Contenido_Reportes .Reporte img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}





/*
||=====================================================================||
||                Este apartado es para ver un reporte                 ||
||=====================================================================||
*/

.Informe {
    background-color: #f9f9f9;
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: auto !important;
}

.Informe div{
    width: 80%;
    text-align: left;
    font-weight: 900;
    color: #333;
}

.Informe img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    border-radius: 8px;
    
}

.Informe a {
    color: #333;
}


.acostado {
    margin: 20px;
    padding: 10px;
    width: 90%;
    border: 4px solid var(--Gobierno);
}

.acostado tr td{
    border: 4px solid #333;
}

.acostado tr td > img {
    width: 250px !important;
}

.acostado tr td p {
    background-color: transparent !important;
    color: #272727;
}

.acostado textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
}


.Descripcion {
    width: 70%;
    resize: none;
    margin: 15px;
    padding: 3px;
}

#mi_mapa {
    display: flex;
    flex-direction: row;
}

#mi_mapa div {
    border: none;
}



/*
||=====================================================================||
||               Este apartado es para colonias ajustes                ||
||=====================================================================||
*/
.tabla-contenedor {
    width: 80%;
    max-height: 400px;   /* límite de alto */
    overflow-y: auto;    /* scroll vertical */
    overflow-x: auto;    /* scroll horizontal si se pasa de ancho */
    border: 2px dotted var(--Gobierno);
}


/*
||=====================================================================||
||                  Este apartado es para estadistica                  ||
||=====================================================================||
*/

.dt-layout-row {
    width: 98% !important;
}

#myTable_wrapper{
    width: 98% !important;
    display: block !important;
    margin: 0 auto !important;
}

.dt-layout-table {
    display: block !important;
    margin: 0 auto !important;
}

.dt-paging nav {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
}

.GrafoEstadistico {
    width: 80%;
    height: 60% !important;
    margin: 0 auto;
}