/*Estilos de etiquetas html*/
.Cuerpo {
    display: flex;
    justify-content: space-between; 
    align-items: stretch;
}

nav {
    margin-top: 5px;
    background-color: #f97613;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    height: 100% !important;
}

.opcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    list-style: none;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: #333;
    text-transform: uppercase;
}

.Titulo_opcion{
    justify-content: space-between;
    align-items:center;
    background-color: #f97613;
}

.Titulo_opcion:hover{
    background-color: #e76d10 !important;
}

a {
    text-decoration: none;
    color: white;
}

.opcion:hover{
    background-color: #272727;   
}

.opcion img {
    width: 40px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.Contenido {
    padding: 20px;
    width: 75%;
    margin: 5px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.Contenido__Encabezado {
    text-align: center;
}

.Muestra {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Contenido_Reportes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    background-color: #f4f4f4;
}

.Reporte {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffa866;
    border: 2px dotted #f97613;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.Reporte:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.Reporte img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.Informe {
    background-color: #f9f9f9;
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: auto !important;
}

.Informe div{
    width: 80%;
    text-align: left;
    font-weight: 900;
    color: #333;
    margin-bottom: 60px;
    margin-top: 60px;
}

.Informe img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    border-radius: 8px;
    
}

.Informe a {
    color: #333;
}


.acostado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* Horizontal */
    align-items: center;   /* Vertical */
    height: auto;
}

.acostado img {
    margin: 10 50%;
    height: 50% !important;
}

.acostado div {
    
    margin: 20px;
    justify-items: center; /* Horizontal */
    align-items: center;   /* Vertical */
}

.acostado textarea {
    display: block;
    margin: 10px auto;
}


.Descripcion {
    width: 70%;
    resize: none;
    margin: 15px;
    padding: 3px;
}